@charset "UTF-8";

/* === 메인페이지 헤더 및 영상 시작 === */
div.main_header_menu{
    border:solid 0px green;
    height:100px;
    background-color: white;
}

div.main_header > div.main_header_menu > img.main_icon{
    display:inline-block;
    width:80px;
    margin-left: 80px;
}

body > div.main_header > div.main_header_menu > a {
    display: inline-block;
    border:solid 0px red;
    color:black;
    font-size: 18pt;
    font-weight:bolder;
    margin: 30px 5% 0 5%;
    text-decoration: none;
}

body > div.main_header > div.main_header_menu > a:nth-child(2){
    display:inline-block;
    border:solid 0px red;
    margin-left: 15%;
    margin-top:30px;
}

body > div.main_header > div.main_header_menu > a:hover {
    color:#ff5000;
    transition:0.5s;
}

body > div.main_header > div.main_header_menu > a.login {
    margin-left: 13%;
    font-size: 14pt;
}

div.main_video_div {
    height:800px;
    overflow: hidden;
    border:solid 0px red;
}

div.main_video_div > video{
    position:relative;
    top: -120px;
}
/* === 메인페이지 헤더 및 영상 끝 === */

/* === 메인페이지 여행정보 배너 시작 === */
div.main_recommend > div.main_recommend_title { 
    font-size: 30pt;
    font-weight: bold;
    margin: 10px 0 30px 0;
}

div.main_recommend {
    border: solid 0px red;
    background-color: #e9ffdf;
    text-align: center;
    padding: 20px 0 20px 0;
}

div.main_recommend > a > img{
    width:60%;
}

div.main_recommend > div.main_recommend_banner {
    padding-top: 20px;
    width:60%;
    margin: auto;
}

div.main_recommend > div.main_recommend_banner > a > img{
    width:90%;
    border-radius: 8px;
}
/* === 메인페이지 여행정보 배너 끝 === */

/* === 메인페이지 호텔 컨텐츠 시작 === */
div.main_hotel {
    border:solid 0px red;
    width:80%;
    margin: auto;
    margin-top: 40px;
}

div.main_hotel > div.jeju_hotel,
div.main_hotel > div.jeju_resort,
div.main_hotel > div.jeju_airbnb {
    display: flex;
}

div.main_hotel > div.jeju_hotel > div:nth-child(1) {
    background-color: #ffc996;
    color:white;
    text-align: center;
    padding-top: 85px;
    font-size: 40pt;
    width:250px;
    height:250px;
    margin:auto;
    border-radius: 8px;
}

div.main_hotel > div.jeju_hotel > div:nth-child(2),
div.main_hotel > div.jeju_hotel > div:nth-child(3),
div.main_hotel > div.jeju_hotel > div:nth-child(4) {
    border:solid 0px red;
    width:300px;
    height:250px;
    margin:auto;
    border-radius: 8px;
    overflow: hidden;
}

div.main_hotel > div.jeju_hotel > div:nth-child(2) > img,
div.main_hotel > div.jeju_hotel > div:nth-child(3) > img,
div.main_hotel > div.jeju_hotel > div:nth-child(4) > img {
    height:100%;
}
/* === 메인페이지 호텔 컨텐츠 끝 === */