@charset "UTF-8";

.body{
    display: flex;
    float: none;
    width: 100%;
    justify-content: left;
}


.navigation {
   position: relative;
   width: 250px;
   background: #ff8000;
}


.navigation ul {
   position: absolute;
   width: 100%;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 40px;
}

.navigation ul li {
   position: relative;
   list-style: none;
   width: 90%;
   border-radius: 20px 20px;
}

.navigation ul li.active {
   background: #ffcccc;/* 고정되어있을때 강조색 [1] */
}

.navigation ul li a {
   position: relative;
   display: block;
   width: 100%;
   display: flex;
   text-decoration: none;
   color: #fff;
}



.navigation ul li a .icon {
   position: relative;
   display: block;
   min-width: 60px;
   height: 60px;
   line-height: 70px;
   text-align: center;
}

.navigation ul li a .icon ion-icon {
   position: relative;
   font-size: 1.5em;
   z-index: 1;
}

.navigation ul li a .title {
   position: relative;
   display: block;
   height: 60px;
   line-height: 60px;
   white-space: nowrap;
   font-weight:bold;
}




div#wrapper1{
	float: left; display: inline-block; width: 10%; margin-left: 100px; margin-top:200px; font-size: 13pt;
}

div#wrapper2{
	display: inline-block; width: 55%; margin-right:150px; margin-top: 30px; border:solid 0px red;
}

/* ========== full calendar css 시작 ========== */
.fc-header-toolbar {
	height: 30px;
}

a, a:hover, .fc-daygrid {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
} 

.fc-sat { color: #0000FF; }    /* 토요일 */
.fc-sun { color: #FF0000; }    /* 일요일 */
/* ========== full calendar css 끝 ========== */

ul{
	list-style: none;
}

button.btn_normal{
	background-color: #990000;
	border: none;
	color: white;
	width: 50px;
	height: 30px;
	font-size: 12pt;
	padding: 3px 0px;
	border-radius: 10%;
}

button.btn_edit{
	border: none;
	background-color: #fff;
}
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-prev-button.fc-button.fc-button-primary,
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-next-button.fc-button.fc-button-primary {
	background-color:orange;
	border:orange;
}

#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-prev-button.fc-button.fc-button-primary:hover,
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-next-button.fc-button.fc-button-primary:hover {
	background-color:#ffc557;
	border:orange;
}

#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > button {
	background-color:#ffc557;
	border:#ffc557;
}

#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > button.fc-dayGridWeek-button.fc-button.fc-button-primary.fc-button-active,
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > button.fc-dayGridDay-button.fc-button.fc-button-primary.fc-button-active,
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active{
	background-color:orange;
	border:orange;
}

#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > button.fc-dayGridWeek-button.fc-button.fc-button-primary,
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > button.fc-dayGridDay-button.fc-button.fc-button-primary,
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > button.fc-dayGridMonth-button.fc-button.fc-button-primary {
	background-color:#ffc557;
	border:#ffc557;
}

input#fromDate, 
input#toDate, 
select#searchType,
input#searchWord,
select#sizePerPage {
   border:solid 1px rgb(172, 172, 172);
   height:35px;
   border-radius: 5px;
   color:#838383;
}

#searchPart > form > div > button {
   background-color: orange;
   border:solid 1px orange;
}
