@charset "UTF-8";

/* 상단 탭 CSS */
body {
  /* background-color: rgba(230, 238, 249, 0.5); */
  background-color: rgba(242, 242, 242, 0.4);
}

div#category {
  border: solid 0px red;
  /* left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  width: 70%;
  margin: 5% auto 0 auto;
  align-items: center;
}

div#category > h2 {
  border: solid 0px red;
  font-size: 2rem;
  font-weight: 600;
}

.tabs {
  padding-top: 5%;
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(255, 168, 128, 0.15), 0 6px 12px 0 rgba(255, 168, 128, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  width: 70%;
}
.tabs * {
  z-index: 2;
}

.tab {
  margin-bottom: -0.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  /* width: 180px; */
  width: 180px;
  font-size: 14pt;;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type=radio] {
  display: none;
}

input[id=radio-1]:checked ~ .glider {
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .glider {
  transform: translateX(100%);
}

input[id=radio-3]:checked ~ .glider {
  transform: translateX(200%);
}

input[id=radio-4]:checked ~ .glider {
  transform: translateX(300%);
}

input[id=radio-5]:checked ~ .glider {
  transform: translateX(400%);
}

input[id=radio-6]:checked ~ .glider {
  transform: translateX(500%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 151px;
  background-color: #ffdccc;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

/*-------------------------------------------------------*/
/* 검색바 CSS */
.search {
  position: relative;
  width: 12%;
}

input#inputSearch {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 15pt;
}

.search > img {
  position : absolute;
  width: 9%;
  top: 13px;
  right: 12px;
  margin: 0;
}


