body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    div.container {
        width: 70vw !important;
    }
}

@media screen and (max-width: 768px) {
    div.container {
        width: 80vw !important;
    }
}

@media screen and (max-width: 425px) {
    div.container {
        width: 100vw !important;
        margin-top: 0 !important;
    }

    h2 {
        font-size: 1.4rem !important;
    }

    h5 {
        font-size: 1rem !important;
    }

    div.info_block > input,
    input#email,
    span.error {
        font-size: 0.8rem !important;
    }
}

select {
    width:10%;
    margin-left: 65%;
    margin-top: 30px;
    border-radius: 8px;
    border: solid 1px rgba(15, 19, 42, .1);
}

div.container {
    width: 45%;
    margin: 2% auto;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

div.info {
    border: solid 0px red;
    width: 80%;
    margin: 5% auto;
}

div.info_block {
    margin:2% auto;
}

div.info_block > input:first-child {
    display: block;
    width: 100%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: solid 1px rgba(15, 19, 42, .1);
    padding: 0 0 0 15px;
    font-size: 16px;
}

div.info_block > h4 {
    display:inline-block;
    border:solid 0px red;
    width:80%;
}

textarea{
    width:100%;
    border-radius: 8px;
    border: solid 1px rgba(15, 19, 42, .1);
    height:100px;
    display:none;
}

input.agree{
    border:solid 1px orange;
    background-color: orange;
    font-size:17pt;
    color:white;
    border-radius: 8px;
    width:11%;
    height:50px;
    margin-left:75%;
}

input.disagree{
    border:solid 1px rgb(182, 182, 182);
    background-color: rgb(182, 182, 182);
    font-size:17pt;
    color:rgb(0, 0, 0);
    border-radius: 8px;
    width:11%;
    height:50px;
}

input.change_disagree{
    border:solid 1px rgb(252, 138, 138);
    background-color:rgb(252, 138, 138);
    font-size:17pt;
    color:rgb(255, 255, 255);
    border-radius: 8px;
    width:11%;
    height:50px;
}

input.agree:hover{
    border:solid 1px orange;
    background-color: rgb(255, 255, 255);
    color:orange;
    transition:0.3s;
}

input.disagree:hover{
    border:solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    transition:0.3s;
}

input.change_disagree:hover{
    border:solid 1px rgb(252, 138, 138);
    background-color:rgb(255, 255, 255);
    color:rgb(252, 138, 138);
    transition:0.3s;
}

div.pageBar {
    width:40%;
    margin:auto;
    margin-bottom: 50px;
}

div.pageBar > ul{
    margin:auto;
    text-align: center;
    display: flex;
}

div.pageBar > ul > li {
    margin:0 4px;
}

li.fist_page > a,
li.last_page_no > a{
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    padding-top:5px;
    text-align:center;
    width: 60px;
    height: 30px;
    border:solid 1px orange;
    background-color: orange;
    color:white;
    font-size:10pt;
}

li.fist_page > a:hover,
li.last_page_no > a:hover{
    border:solid 1px orange;
    background-color: rgb(255, 255, 255);
    color:orange;
    transition:0.3s;
}

li.before_page > a,
li.next_page_no > a{
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    padding-top:5px;
    text-align:center;
    width: 60px;
    height: 30px;
    border:solid 1px orange;
    background-color: rgb(255, 255, 255);
    color:orange;
    font-size:10pt;
}

li.before_page > a:hover,
li.next_page_no > a:hover{
    border:solid 1px orange;
    background-color: orange;
    color:rgb(255, 255, 255);
    transition:0.3s;
}

li.this_page_no {
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    padding-top:5px;
    text-align:center;
    width: 30px;
    height: 30px;
    border:solid 1px orange;
    background-color: orange;
    color:rgb(250, 250, 250);
    font-size:10pt;
}

li.choice_page_no > a {
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    padding-top:5px;
    text-align:center;
    width: 30px;
    height: 30px;
    border:solid 1px orange;
    background-color: rgb(248, 248, 248);
    color:orange;
    font-size:10pt;
}

li.choice_page_no > a:hover{
    border:solid 1px orange;
    background-color: orange;
    color:rgb(255, 255, 255);
    transition:0.3s;
}